<!-- Para criar o componente necessario: ng g c components/template/template-binding -->


<main class="main">
  <div class="content">
    <h2>Class and Style binding</h2>

    <p [class.background-vermelho]='true'> primeiro exemplo de funcionamento</p> <!-- desde que o class.algumaCoisa retorne true ele será utilizado, se não ele não sera utilizado -->

    <p [class.background-azul]="true"> Segundo exemplo de funcionamento</p> <!-- desde que o class.algumaCoisa retorne true ele será utilizado, se não ele não sera utilizado -->

    <p [class.background-vermelho]="valor > 32" [class.background-azul]="valor <= 32" > <!-- Fiz um layout que dependendo do valor dentro da variavel valor ela retorna false ou true para um dos class -->
      {{ nome }}
    </p>

    <p [class.background-vermelho]="valor <= 32" [class.background-azul]="valor > 32"> <!-- Fiz um layout que dependendo do valor dentro da variavel valor ela retorna false ou true para um dos class -->
      {{ nome }}
    </p>

    <p [style.text-decoration]="'underline'">está variavel está com caracteristica de style pelo binding: {{valor}}</p> <!--Colodano as aspas simples dentro das duplas ele pega o valor literal e atribui uma caracteristica css para o metodo text-decoration-->
  </div>
</main>


<router-outlet />
